@import '~node_modules/modern-normalize/modern-normalize.css';

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: outfit-c;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

main {
    width: 100vw;
    flex: 1 1 auto;
}

body {
    background-color: #000000;
    // background-image: url(../images/bg.jpg);
    // background-size: 3.125rem;
    color: $primary-color;
    font-family: raleway-c;
    overflow-x: hidden;
}

[class*="__container"] {
    padding: 0 7vw;
}

.content,
.hero,
.hero__content,
.gallery__wrapper > * {
    will-change: transform;
}