.gallery__wrapper {
    display: flex;
    padding: calc($index * 8) 0;
}

.gallery__wrapper > * {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.gallery__item {
    max-width: calc($index * 21);
    margin-bottom: $gallery-gap;
    max-height: 80vh;
    border-radius: 8px;
}

.gallery__left {
    margin-top: calc($gallery-gap * 1.75);
}

.gallery__right .gallery__item {
    margin: 0;
    margin-top: $gallery-gap;
}

.text-block {
    color: $secondary-color;
    position: relative;
}

.text-block__title {
    margin-bottom: 1.5rem;
    color: $color-header;
    font-size: 2rem;
    line-height: 2.4rem;

    text-transform: capitalize;
    text-shadow: 0.0313rem 1px 2px rgb(180, 9, 9);
}

.text-block__descr {
    line-height: 1.75;
}