$index: calc(1vw + 1vh);
$side-small: 26; // card aspect ratio, relative value
$side-big: 36; // card aspect ratio,  relative value
$color-header: #f4efec;
$primary-color: #fafafa;
$secondary-color: #cdc6c3;
$gallery-gap: calc($index * 7.5)