.hero {
    width: calc($index * 22);
    position: absolute;
    right: .8vw;
    top: 62vh;
    z-index: -1;

    @include tablet {
        width: calc($index * 30);
        left: 28vw;
        top: 22vh;
    }

    @include max-tablet-laptop {
        width: calc($index * 32);
    }

    @include desktop {
        width: calc($index * 36);
    }
}

.hero__content {
    height: 100vh;
}

.hero__title {
    font-size: calc($index * 5);
    position: absolute;
    width: min-content;
    bottom: 55vh;
    line-height: .9;

    @include tablet {
        font-size: calc($index * 7);
        bottom: 35vh;
    }

    @include max-tablet-laptop {
        bottom: 18vh;
    }

    @include desktop {
        bottom: 12vh;
    }
}

.hero__title span {
    text-shadow: 0.0313rem 1px 20px rgb(180, 9, 9);
}